.banner {
   background: url("download.gif") 
   no-repeat center center;
   background-size: cover;
   padding-top: 20%;
   padding-bottom: 20%;
   color: white;

}

.crop-img{
   object-fit: cover;
}

a.social{
   display: inline-block;
   width: 40px;;
   height: 40px;;
   color:white;
   border-radius: 50%;
   background-color:black;
   line-height: 40px;
}

.client img{
   height: auto;
   max-height: 50px;

}

.kontak{
   background: url(https://wallpaperaccess.com/full/1867010.jpg) no-repeat center center;
   background-size: cover;
   padding-bottom: 20%;
   padding-top: 20%;
   color:#fff;
}